<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AudioGenerator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>file-upload</param-name>
    <param-value>C:\Users\garima\Downloads\apache-tomcat-7.0.37\webapps</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UploadDownloadFileServlet</display-name>
    <servlet-name>UploadDownloadFileServlet</servlet-name>
    <servlet-class>UploadDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDownloadFileServlet</servlet-name>
    <url-pattern>/UploadDownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AudioConverter</display-name>
    <servlet-name>AudioConverter</servlet-name>
    <servlet-class>AudioConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AudioConverter</servlet-name>
    <url-pattern>/AudioConverter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfToTextConverter</display-name>
    <servlet-name>PdfToTextConverter</servlet-name>
    <servlet-class>PdfToTextConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfToTextConverter</servlet-name>
    <url-pattern>/PdfToTextConverter</url-pattern>
  </servlet-mapping>
</web-app>